notes/_build/
notes/Manifest.toml
notes/second_linear/tmp.gif
flashcards/credits.csv
.ipynb_checkpoints/Untitled-checkpoint.ipynb
notes/ode_system/.ipynb_checkpoints/test-checkpoint.ipynb
*.DS_Store
course/_book/index.html
course/_book/intro.html
course/_book/ivp_first_order.html
course/_book/ivp_second_order.html
course/_book/Notes-for-Math-351-@-UD.pdf
course/_book/pldiag1.svg
course/_book/pldiag2.svg
course/_book/pldiag3.svg
course/_book/pldiag4.svg
course/_book/pldiag5.svg
course/_book/references.html
course/_book/search.json
course/_book/summary.html
course/_book/site_libs/bootstrap/bootstrap-icons.css
course/_book/site_libs/bootstrap/bootstrap-icons.woff
course/_book/site_libs/bootstrap/bootstrap.min.css
course/_book/site_libs/bootstrap/bootstrap.min.js
course/_book/site_libs/clipboard/clipboard.min.js
course/_book/site_libs/quarto-html/anchor.min.js
course/_book/site_libs/quarto-html/popper.min.js
course/_book/site_libs/quarto-html/quarto-syntax-highlighting.css
course/_book/site_libs/quarto-html/quarto.js
course/_book/site_libs/quarto-html/tippy.css
course/_book/site_libs/quarto-html/tippy.umd.min.js
course/_book/site_libs/quarto-nav/headroom.min.js
course/_book/site_libs/quarto-nav/quarto-nav.js
course/_book/site_libs/quarto-search/autocomplete.umd.js
course/_book/site_libs/quarto-search/fuse.min.js
course/_book/site_libs/quarto-search/quarto-search.js
course/.jupyter_cache/__version__.txt
course/.jupyter_cache/global.db
course/.jupyter_cache/executed/14c8f6ac95bc74ca709cc7456cc8d8fc/base.ipynb
course/.jupyter_cache/executed/35466a1088738bcb0bbac9ba64dff05a/base.ipynb
course/.jupyter_cache/executed/497c718dcf313b3d6575f0d2920ff209/base.ipynb
course/.jupyter_cache/executed/6a5c391556aaa88661a433ea4b273e02/base.ipynb
course/.jupyter_cache/executed/8b17b1c95ffa95e72fea07cf0e2ee524/base.ipynb
